{% extends "blogs/base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Main Article -->
    <div class="col-md-12 margin-top-30">
      <h2 class="item-title">My projects</h2>
      <p>
        <img class="animate fadeInRight" 
        style="float: right"
        src="{% static "assets/img/frontpage/responsive_screens.png" %}" alt="responsivescreens" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
        diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
        molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
        eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
        zzril delenit augue duis dolore te feugait nulla facilisi.
      </p>
      <p>
        Mirum est notare quam littera gothica, quam nunc putamus. Cras non sem
        sem, at eleifend mi. Vivamus sit amet ante est, sit amet rutrum augue.
        Cras non sem sem, at eleifend mi. Nam liber tempor cum soluta nobis
        eleifend option congue nihil imperdiet doming id quod mazim placerat
        facer possim assum. Curabitur eget nisl a risus.
      </p>
    </div>
    <div class="clearfix"></div>
    <!-- End Main Article -->
  </div>
</div>




{% endblock content %}